.hello{
    margin-bottom: 246px;
}
.hello__title{
    width: 511px;
    margin-bottom: 27px;
}
.hello__text{
    margin-bottom: 34px;
}
.button--small--light{
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    
}
.news__content-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    min-width: 140px;
}
