.hello{
    margin-bottom: 246px;
}
.hello__title{
    width: 511px;
    margin-bottom: 27px;
}
.hello__text{
    margin-bottom: 34px;
}
.button{
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 18px;
    padding-bottom: 18px;
    
}