.pagination__item--active{
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;

    
}
.pagination{
    display: flex;
    align-items: center;

}
.pagination__item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination__item--active .menu__link{
    color: #F5170E;
}
.pagination__list{
    display: flex;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    }